doctype 5
html
  head
    title= page.title
    meta(name="csrf", content="#{csrf}")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //- link(rel="stylesheet", href="/bower_components/vex/css/vex.css")
    //- link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav
        ul
          li.home
            a(href="/") Home
          if user
            li.logout
              a(href="/logout") Logout
            li.edit_meta
              a(href="#") Edit Meta
            li.save
              a(href="#") Publish
            li.revert
              a(href="#") Revert
          else
            li.login
              a(href="/login") Login
            
    div#content
      block content

    footer
    
    //- Data for front end
    script(type="text/javascript").
      window.app_data = {
        env: '#{settings.env}'
      };
    if user 
      script(type="text/javascript").
        window.app_data.logged_in = true;
    
    if settings.force_js_optimize || settings.env == 'production'
      script(type="text/javascript", src="/js/main-build.js", data-main="/js/main")
    else
      script(type="text/javascript", data-main="/js/main", src="/bower_components/requirejs/require.js")


