doctype 5
html
  head
    title= title
    meta(name="csrf", content="#{settings.csrf}")
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    header
      nav
        ul
          li.home
            a(href="/") Home
          li.login
            a(href="/login") Login
          li.logout
            a(href="/logout") Logout
    div#content
      block content

    footer
    
    block footer_script_first

    if settings.force_js_optimize || settings.env == 'production'
      script(type="text/javascript", src="/js/main-build.js", data-main="/js/main")
    else
      script(type="text/javascript", data-main="/js/main", src="/bower_components/requirejs/require.js")

    if settings.user
      script(type="text/javascript").
        window.user = !{JSON.stringify(settings.user)};
        window.page = !{JSON.stringify(settings.page)};

    block footer_script_last
      

