<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="csrf" content="TPqlPmQJSf+YVJ8ZBW70ZZXxrRgiAr+t+QJXA=" />
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/vex/css/vex.css" />
    <link rel="stylesheet" href="/bower_components/vex/css/vex-theme-plain.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="home"><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <div id="test"></div>
    </div>
    <footer></footer>
    <script type="text/javascript" data-main="/js/main" src="/bower_components/requirejs/require.js"></script>
  </body>
</html>
