
extends layout

block content
  if products.length
    div#products
      p
        a#sort(href="javascript:;") Sort
      ul.products
        each product in products
          include product
  else
    div No products!
    
