
div#products
  ul.controls
    li
      a.sort_products(href="javascript:;") Sort
  ul.products
    if typeof filtered_products != 'undefined' && filtered_products.length
      each product in filtered_products
        include product
    else
      li No products!

