
if filtered_products.length
  div#products
    ul.controls
      li
        a.sort_products(href="javascript:;") Sort
    ul.products
      each product in filtered_products
        include product
else
  div No products!
