
header {
  /*border: 1px solid red;*/
}

nav {
  /*border: 1px solid blue !important;*/
}

.products li {
  float: left;
  width: 300px;
  height: 100px;
  font-size: 0.9em;
  list-style: none;
  background: #eee;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
}
