
header {
  /*border: 1px solid red;*/
}

nav {
  /*border: 1px solid blue !important;*/
}

nav .save, nav .revert {
  display: none;
}

.editable:hover:after {
  /*content: ' edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;*/
}
  
.editable:hover, .editable:focus, .editable textarea {
  background: #FFFFD3;
}

.editable:focus textarea {
  font-size: 13px;
}

.editable:focus:after {
  /*content: '';*/
}

.modal textarea {
  width: 99%;
  height: 300px;
  resize: none;
}

.flash_message {
  height: 25px;
}

